<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="8bad5ef3-467d-4f86-be45-8e5b92804fc6" Publisher="CN=errant" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="8bad5ef3-467d-4f86-be45-8e5b92804fc6" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>NewsTerm-Universal</DisplayName>
    <PublisherDisplayName>errant</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="NewsTerm_Universal.App">
      <uap:VisualElements DisplayName="NewsTerm-Universal" Square150x150Logo="Assets/nextcloud_reader_logo_150.png" Square44x44Logo="Assets\nextcloud_reader_logo_88.png" Description="NewsTerm-Universal" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets/nextcloud_reader_logo_620.png" Square71x71Logo="Assets\nextcloud_reader_logo_142.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>